// @import "vars";
@import "fonts";
html,
body {
    height: 100%;
    // * {
    //   outline: 1px solid red;
    // }
}

body {
    font-size: $def-fnz;
    min-width: 320px;
    position: relative;
    line-height: 1.65;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    // *{ outline: 1px solid red;
    // }
}

input,
textarea {
    border: 1px solid #ccc;
    padding: 10px;
    outline: none;
    // @include transition;
    &:focus:required:invalid {
        border-color: red;
    }
    &:required:valid {
        border-color: green;
    }
}

a {
    text-decoration: none;
    color: $text-color;
    &:focus {
        outline: none;
    }
    &:hover {
        text-decoration: none;
    }
}

.container-fluid {
    &.px-0 {
        .row {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.form-control {
    border-radius: 0;
    &::placeholder {
        opacity: 0.3;
    }
    &:focus,
    &:hover {
        box-shadow: none;
        border-color: #000;
    }
}

.form-group {
    .form-control {
        border-radius: 0;
        font-size: 0.875rem;
        &:focus {
            border-color: #000;
        }
    }
}

.header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: $header-color;
    &__top {
        height: 50px;
    }
    &__logo {
        background-color: $main-color;
        &--color {
            background-color: $header-color;
        }
        img {
            width: 100px;
            height: 40px;
            padding-left: 15px;
            margin: 5px 0;
        }
    }
    .user-button {
        img {
            width: 15px;
            height: 15px;
        }
    }
}

.transparent-button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    &:focus,
    &:active {
        outline: none;
    }
}

.sidebar {
    background-color: $main-color;
    &-list {
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
            background-color: $sidebar-hover;
        }
        a {
            display: block;
            padding: 10px 10px 10px 30px;
            color: $white;
            font-size: 0.75rem;
            letter-spacing: 0.1em;
            &:hover {
                color: $white;
            }
        }
    }
    &-items {
        width: 16.6%;
        position: fixed;
        top: 60px;
    }
}

.dropdown {
    &-item {
        color: $main-color;
        &:hover {
            color: $main-color;
        }
        &:active {
            background-color: transparent;
        }
    }
    &-toggle {
        &::after {
            display: none;
        }
        .fa {
            font-size: 20px;
            color: $main-color;
        }
    }
}

.main {
    &-caption {
        font-size: 2.5rem;
        margin-bottom: 0px;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: -1px;
            width: 30%;
            height: 100%;
            background-image: linear-gradient( left, rgba(255, 255, 255, 0) 0%, white 80%, white 100%);
            pointer-events: none;
        }
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            padding: 35px;
        }
    }
    &-subtitle {
        font-size: 1.5625rem;
        font-weight: bold;
        span {
            color: #666;
            font-weight: 400;
        }
        &--room {
            padding-top: 30px;
        }
        &--fz {
            font-size: 1rem;
        }
    }
}

.primary-button {
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: $white;
    padding: 13px 0;
    background-color: $main-color;
    border-radius: 0.25rem;
    border: 1px solid $main-color;
    cursor: pointer;
    &:hover {
        background-color: $button-hover;
    }
    &:active,
    &:focus {
        outline: none;
    }
    &--outline {
        background-color: $white;
        color: $main-color;
        border: 1px solid $main-color;
        &:hover {
            color: $button-hover;
            border: 1px solid $button-hover;
            background-color: $white;
        }
    }
}

.bg {
    background-color: $blue-bg;
}

.h-100vh {
    height: 100vh;
}

.bb {
    border-bottom: 1px solid #ccc;
}